* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
}

.container {
    position: relative;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
}

.container div h1 {
    margin-bottom: 20px;
}

.left-slide {
    height: 100%;
    width: 35%;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform .5s ease-in-out;
}

.left-slide > div {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 28px;
}

.left-slide h1 {
    font-size: 40px;
}

.right-slide {
    height: 100%;
    position: absolute;
    top: 0;
    left: 35%;
    width: 65%;
    transition: transform .5s ease-in-out;
}

.right-slide > div {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100%;
    width: 100%;
}

image {
    width: 65%;
    height: 100vh;
    background-color: aliceblue;
}
button {
    background-color: white;
    border: none;
    color: grey;
    cursor: pointer;
    font-size: 15px;
    padding: 10px;
}

button:hover {
    color: black;
}

.container .buttons button {
    position: absolute;
    left: 35%;
    top: 50%;
    z-index: 100;
}

.container .buttons .down-button {
    transform: translateX(-100%);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.container .buttons .up-button {
    transform: translateY(-100%);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}